@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*, ::after,::before {margin: 0; padding: 0; box-sizing: border-box;}

body{font-family: "Karla", sans-serif; width: 100%; height: 100vh; display: flex; justify-content: center; align-items:center; background: #e5e5e5;}

:root {
    --linear-gradient: linear-gradient(#672280, #A626D3);
}

header {background: var(--linear-gradient);}

.container {background: #fff; max-width: 550px; width: 100%;}
.header_con {display: flex; justify-content: space-between ; align-items: center; min-height: 65px; padding: 0 30px; color: #fff;}
.main_logo {display: flex; align-items: center;}
.main_logo figure {width: 100%; max-width: 35px; margin-right: 5px;}
.main_logo figure img {width: 100%;}

.meme_con {padding: 30px;}
.input_con {display: flex; justify-content: center; align-items: center; gap: 15px; flex-wrap: wrap; position: relative;}
.input_con input {width: 48%; padding:10px 5px; border-radius: 4px; border: 2px solid #D1D5DB; font-family:"Karla", sans-serif; font-weight: 600; font-weight: 17px;}
.generate_meme_btn {width: 100%; padding: 13px 0; background: var(--linear-gradient); color: #fff; font-weight: 600; font-family: "Karla", sans-serif; font-size: 16px; border: none; cursor: pointer; border-radius: 5px;}
#top_text, #bottom_text {position: relative;}
.image_con {position: relative;}
.image_con figure {width: 100%; margin-top: 10px; }
.image_con img {width: 100%;}

.meme_con {max-height: 700px; overflow-y: scroll;}

.form_top_text {top: 10px; position: absolute; left: 50%; transform: translateX(-50%); color: #fff; font-weight: 1000; font-size: 40px; text-transform: uppercase; width: 100%;text-align: center;margin:0 auto;padding:0 10px;word-break: break-all;}
.form_bottom_text {bottom: 10px; position: absolute; left: 50%; transform: translateX(-50%); color: #fff; font-weight: 1000; font-size: 40px; text-transform: uppercase;width: 100%;text-align: center;margin:0 auto;padding:0 10px;word-break: break-all;}

@media screen and (max-width: 600px) {
    .form_top_text ,.form_bottom_text {font-size: 25px}
    .input_con input {width: 100%;}
    .header_con {padding: 10px; font-size:14px;}
}